body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.channel {
    width: 150px;
    height: 100px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s;
}

.channel:hover {
    transform: scale(1.1);
    background-color: #ff9800;
}

.sports {
    background-color: #1e88e5;
}

/* النافذة المنبثقة */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 800px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

video {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}

.social-media a {
    color: #1e88e5;
    text-decoration: none;
    margin: 0 10px;
}

.social-media a:hover {
    text-decoration: underline;
}
.video-container {
    position: relative;
    width: 100%; /* حجم العرض يكون 100% من العنصر الحاوي */
    padding-bottom: 56.25%; /* هذا النسبة تعطي نسبة عرض إلى ارتفاع 16:9 */
    height: 0; /* يُستخدم لضبط النسبة الصحيحة للعنصر */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* جعل العرض يمتد 100% */
    height: 100%; /* جعل الارتفاع يمتد 100% */
}
